{% extends "base.html" %}

{% block title %}Dashboard - TTS Shorts Generator{% endblock %}

{% block content %}
<div class="container">
    {% include "_dashboard_profile.html" %}
    {% include "_dashboard_brain_blender.html" %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/rewarded_ads.js') }}"></script>
<script async src="https://js.stripe.com/v3/buy-button.js"></script>
{% endblock %}
